.login-signup-section {
    padding: 50px;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(0, 56, 56);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
h1 {
  color: white;
  margin-bottom: 20px;
}
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
  }
  
  input[type="email"], input[type="password"], input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color:rgb(0, 83, 83);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(0, 111, 111);
  }
  
  .switch-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
  }
  
  .switch-button:hover {
    color: rgb(0, 111, 111);

  }
  
  
  select {
    padding: 10px;
  }
  .error-messages {
    color: #e74c3c; 
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
}